// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2.scss';
@import '~vue-loading-overlay/dist/vue-loading.css';
